.d-block {
  height: 380px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img-top {
  height: 200px;
}

h1,
h2 {
  text-align: center;
  color: blue;
}

.cards {
  padding: 40px;
}

.footer1 {
  background-color: black;
  color: white;
}
